[submodule "todo-demo"]
	path = todo-demo
	url = https://github.com/souenzzo/todo-demo.git

[submodule "realworld"]
	path = openapi-connect/resources/realworld
	url = https://github.com/gothinkster/realworld.git
