<meta name="google-site-verification" content="4mpBKacRndyhtQhHgygm1SNtamaerFTqqzVijVI4N3g"/>
<meta charset="UTF-8"/>

<link rel="apple-touch-icon" href="/me70.png">
<link rel="apple-touch-icon" sizes="152x152" href="/me152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/me180.png">
<link rel="apple-touch-icon" sizes="167x167" href="/me167.png">
<link rel="apple-touch-startup-image" href="/me512.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#1793d1">
<!-- TODO: https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/pinnedTabs/pinnedTabs.html -->

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<meta name="theme-color" content="#1793d1"/>
<meta name="twitter:site" content="@souenzzo"/>
<meta name="twitter:creator" content="@souenzzo"/>

<link rel="manifest" href="/manifest.webmanifest"/>
<link rel="canonical" href="{{ site.url }}"/>

<link rel="icon"
      href="/me70.png"/>
<!-- link rel="stylesheet" href="https://unpkg.com/mvp.css" -->
<!-- link rel="stylesheet" href="https://www.w3.org/StyleSheets/Core/Modernist" type="text/css" -->
<!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css" -->
<style>
        img {
            border-radius: 50%;
            width: 20vh;
            height: 20vh;
        }

        body {
            // text-align: center;
            padding: 2vh;
        }

        p {
          max-width: 35em;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style-type: none;
            padding: 0;
        }

        li {
            padding: 1rem;
        }
        .no {
          color: purple;
        }
        .s {
          color: green;
        }
        @media (prefers-color-scheme: dark) {
          :root {
            background: black;
            color: white;
          }
          a {
            color: lime;
          }
          a:visited {
            color: fuchsia;
          }
          .no {
            color: fuchsia;
          }
          .s {
            color: lightgreen;
          }
        }
</style>
