{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure          {:mvn/version "1.10.3"}
           org.clojure/core.async       {:mvn/version "1.5.640"}
           org.clojure/data.json        {:mvn/version "2.4.0"}
           io.pedestal/pedestal.service {:mvn/version "0.5.9"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.9"}}
 :aliases {:dev {:extra-paths ["dev" "test"]
                 :extra-deps  {org.clojure/test.check {:mvn/version "1.1.0"}
                               org.slf4j/slf4j-simple {:mvn/version "2.0.0-alpha5"}}}}}

