# ~/.config/systemd/user/zws.service

[Unit]
Description=ZWS

[Service]
WorkingDirectory=/home/souenzzo/zws/root/projects/zws
ExecStart=/home/souenzzo/zws/root/projects/zws/zws.sh

[Install]
WantedBy=default.target
