# ~/.config/systemd/user/zws.service

[Unit]
Description=ZWS

[Service]
WorkingDirectory=/home/souenzzo/zws/root/projects/zws
ExecStart=/usr/bin/env ansible-playbook ZWS.yml

[Install]
WantedBy=default.target