{:deps    {edn-query-language/eql {:mvn/version "1.0.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {clj-kondo/clj-kondo    {:mvn/version "2020.07.29"}
                                org.clojure/clojure    {:mvn/version "1.10.1"}
                                org.clojure/test.check {:mvn/version "1.0.0"}}}}}

