{:paths     ["src"]
 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}
 :deps      {org.clojure/clojure          {:mvn/version "1.10.2"}
             com.datomic/datomic-pro      {:mvn/version "1.0.6242"}
             io.pedestal/pedestal.service {:mvn/version "0.5.8"}
             io.pedestal/pedestal.jetty   {:mvn/version "0.5.8"}
             hiccup/hiccup                {:mvn/version "2.0.0-alpha2"}
             org.slf4j/slf4j-simple       {:mvn/version "2.0.0-alpha1"}


             com.wsscode/pathom3          {:git/url "https://github.com/wilkerlucio/pathom3"
                                           :sha     "dd81ae8724cf004f4f5e8b54e3e4464158f7d388"}}
 :aliases   {:dev {:extra-paths ["src" "test"]
                   :extra-deps  {}}}}
