<!DOCTYPE html>
<!-- Do Brasil para o mundo -->
<html lang="en">
<head>
    {%- include head.html -%}

    <meta property="og:type" content="profile"/>
    <meta name="twitter:card" content="profile"/>

    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:image" content="{{ site.url }}/me.jpg"/>


    <meta name="author" content="{{ site.title }}">
    <meta property="og:title" content="{{ site.title }}"/>
    <title>{{ site.title }}</title>

    <meta name="Description" content="{{ site.description }}"/>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}"/>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Person",
            "name": "{{ site.title }}",
            "jobTitle": "{{ site.description }}",
            "url": "{{ site.url }}",
            "email": "souenzzo@gmail.com",
            "sameAs": [
                "https://twitter.com/souenzzo",
                "https://github.com/souenzzo",
                "https://gitlab.com/souenzzo"
            ]
        }
    </script>
</head>
<body>
<header>
    <figure>
        <img src="/me.jpg"
             alt="me">
    </figure>
    <h1>{{ site.title }}</h1>
    <code>{{ site.description }}</code>
</header>
<main>
    <p>networks</p>
    <ul>
        {% for network in site.networks %}
        <li>
            <a target="_blank"
               rel="noreferrer noopener"
               href="{{ network.href }}">{{network.name}}</a>
        </li>
        {% endfor %}
    </ul>
    <p>articles</p>
    <ul>
        <li>
            <a target="_blank"
               rel="noreferrer noopener"
               href="/creating-a-clojure-project.html">
                Creating a Clojure project
            </a>
        </li>
        <li>
            <a target="_blank"
               rel="noreferrer noopener"
               href="/developing-eql-applications-with-pathom-connect.html">
                Developing EQL applications with Pathom connect
            </a>
        </li>
        <li>
            <a target="_blank"
               rel="noreferrer noopener"
               href="/guia-informal-do-fulcro.html">
                Guia informal do fulcro
            </a>
        </li>
        <li>
            <a target="_blank"
               rel="noreferrer noopener"
               href="/energia-do-planeta-terra.html">
                Energia do planeta terra
            </a>
        </li>
    </ul>
</main>
</body>
</html>
